@font-face {
  font-family: SquareDigital;
  src: url(../font/minisystem.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  color: #fff;
  /*background-color: #000;*/

  background: rgba(46, 46, 46, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(46, 46, 46, 1)),
    color-stop(54%, rgba(30, 66, 77, 1)),
    color-stop(100%, rgba(102, 99, 0, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#666300', GradientType=1 );

  font-family: SquareDigital;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contanedor {
  background-color: black;
  margin: 0 20px;
}

.counter {
  word-break: break-word;
  font-size: 5em;
  text-align: center;
}
