@font-face {
  font-family: digital-7;
  src: url(../font/digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  color: #fff;
  /*background-color: #000;*/

  background: rgba(46, 46, 46, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(46, 46, 46, 1)),
    color-stop(54%, rgba(30, 66, 77, 1)),
    color-stop(100%, rgba(102, 99, 0, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(30, 66, 77, 1) 54%,
    rgba(102, 99, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#666300', GradientType=1 );

  font-family: digital-7, sans-serif;
}

main {
  text-align: center;
  height: 270px;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -135px;
}

div.clock {
  margin: 5px 0;
  padding: 0 50px;
}

div.clock div {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 160px;
}

div.clock div p {
  font-size: 100px;
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 100%;
}

div.clock .placeholder {
  color: #222222;
  position: absolute;
  top: 0;
  z-index: 50;
}

.light-on {
  color: #fff;
}

.title {
  font-size: 70px;
}

.contanedor {
  background: #000000;
  min-width: 592px;
}
